@model IEnumerable<Blog.Models.Yorum>

@foreach (var i in Model)
{
    @Html.DisplayFor(modelItem => i.Kullanici.KullaniciAdi)
    <br />
    @Html.DisplayFor(modelItem => i.YorumIcerik)
    <br />
    @Html.DisplayFor(modelItem => i.Tarih)
    <br />
    if (i.Kullanici.KullaniciAdi == Session["username"].ToString())
    {
        <p>
            @Html.ActionLink("Güncelle", "Edit", new { id = i.id }) |

            @Html.ActionLink("Sil", "YorumDelete", new { id = i.id })
        </p>
    }
    else if(i.Makale.Kullanici.KullaniciAdi==Session["username"].ToString())
    {
        <p>
            @Html.ActionLink("Sil", "YorumDelete", new { id = i.id })
        </p>
    }
    <hr />
}

